# 숫자

In [ ]:
a = 123

In [15]:
a

0

In [11]:
a = -178

In [12]:
a

-178

In [13]:
a = 0

In [14]:
a

0

In [16]:
a=-3.45

In [17]:
a

-3.45

In [18]:
a=4.24E10

In [19]:
a

42400000000.0

In [20]:
a=0o177

In [21]:
a

127

In [22]:
a=0x8ff
b=0xabc
a,b

(2303, 2748)

In [23]:
a=3
b=4
a+b

7

In [24]:
a-b

-1

In [25]:
a*b

12

In [26]:
a/b

0.75

## 제곱 연산

In [27]:
a=3
b=4
a**b

81

## 나눗셈 나머지 연산

In [28]:
7 % 3

1

In [29]:
3 % 7

3

## 나눗셈 몫 연산

In [30]:
7/4

1.75

In [31]:
7//4

1

# 문자열 자료형

In [32]:
"hello world"

'hello world'

In [33]:
'hello world'

'hello world'

In [34]:
"""hello world"""

'hello world'

In [35]:
'''hello world'''

'hello world'

## 문자열 안에 따옴표 포함하고 싶을 떄

In [37]:
"python's favorite food is perl" ## 큰따옴표 안에 작은따옴표

"python's favorite food is perl"

In [39]:
'"python is very easy." he says.' # 작은따옴표 안에 큰따옴표

'"python is very easy." he says.'

In [40]:
"python\'s favorite food is perl" #작은따옴표 앞에 역슬래시

"python's favorite food is perl"

In [17]:
"\"python is very easy.\" he says." #큰따옴표 앞에 역슬래시

'"python is very easy." he says.'

## 이스케이프 코드 삽입

In [16]:
"Life is too short \nYou need python"

'Life is too short \nYou need python'

In [18]:
multiline = "Life is too short \n You need python"

In [21]:
multiline

'Life is too short \n You need python'

In [22]:
print(multiline)

Life is too short
 You need python

# 문자열 연산하기

In [25]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [26]:
a = 'python'
a * 5

'pythonpythonpythonpythonpython'

In [27]:
print('='*50)

==================================================

In [29]:
a = "Life is too short" #a의 철자 개수 세기 (공백까지 셈)
len(a)

17

## 문자열 인덱싱

In [31]:
a = "Life is too short, You need python"

In [35]:
a[3] #첫번째 글자=0부터 시작하무로 4번째 숫자가 출력, 공백도 출력됨

'e'

In [34]:
a[12]

's'

In [38]:
a[-1] # -로 하면 뒤에서부터 출력됨

'n'

In [39]:
a[-7]

' '

## 문자열 슬라이싱

In [43]:
a = "Life is too short, You need python"

In [45]:
a[0]+a[1]+a[2]+a[3]

'Life'

In [48]:
a[0:3] # 0~3까지의 글자 추출 하는데 마지막 숫자를 자르고 출력함

'Lif'

In [50]:
a[0:4] #원하는 글자까지 추출하려면 마지막 숫자 +1을 하는게 좋음

'Life'

In [49]:
a[0:4]+a[4:8]

'Life is '

In [53]:
a[8:17]

'too short'

In [54]:
a[0:4] == a[0:5]

False

In [56]:
a[19:] #19번 뒤로 다 출력

'You need python'

In [59]:
a[:17] #17번 까지 다 출력

'Life is too short'

In [60]:
a[:] #전부 출력

'Life is too short, You need python'

In [62]:
a[19:-7]

'You need'

## 슬라이싱으로 문자열 나누기

In [67]:
a = "20240228Sunny"
date = a[:8]
weather = a[8:]
date, weather

('20240228', 'Sunny')

In [71]:
print(date)

20240228

In [70]:
print(weather)

Sunny

In [73]:
a = "20240228Sunny"
year = a[:4]
date = a[4:8]
weather = a[8:]
year, date, weather

('2024', '0228', 'Sunny')

## 문자열 수정하기

In [77]:
# 문자열은 원본이 변경 불가능(immutable)하기때문에 이런식으로 변경하려고 하면 오류가 남
a = 'pithon'
a[1] = 'y'
a

TypeError: 'str' object does not support item assignment

In [80]:
a = 'pithon' #굳이 문자열을 변경해서 출력하고자 한다면 이런식으로
a[0]+'y'+a[2:]

'python'

## 문자열 포매팅

In [81]:
# 숫자 바로 대입 / %d = 정수가 치환해서 들어올 자리
"I eat %d apples."%3

'I eat 3 apples.'

In [83]:
#문자열 바로 대입
"I eat %s apples."%"five"

'I eat five apples.'

In [85]:
"I eat %s apples."%"5"

'I eat 5 apples.'

In [86]:
"I eat %d apples."%"삼"

TypeError: %d format: a real number is required, not str

In [87]:
#숫자값을 나타내는 변수로 대입
number = 3
"I eat %d apples."%number

'I eat 3 apples.'

In [88]:
# 2개 이상의 값 대입
## 순서대로 들어가는거라서 문자열 자리에 숫자 넣으면 안들어가짐
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days."%(number,day)

'I ate 10 apples. so I was sick for three days.'

In [89]:
"Rate is %s" %3.234

'Rate is 3.234'

In [95]:
"오늘의 습도는 %d%% 입니다" %70   ## 00% 를 나타나게 하려면 뒤에 %% 써야함

'오늘의 습도는 70% 입니다'

## 포맷코드와 숫자 함께 사용하기

In [96]:
# 정렬과 공백 / 10칸만큼 공백 넣고 문자열 넣기
"%10s" % "hi"

'        hi'

## 소수점 표현하기

In [97]:
# 소숫점 4자리까지만 보여주기
"%0.4f" % 3.42134234

'3.4213'

## format함수를 사용하는 포맷팅

In [109]:
# {}로 포맷이 들어갈 자리를 만들어놓고 . 찍고 format() 괄호안에 숫자
"I eat {0} apples.".format(33333)

'I eat 33333 apples.'

In [103]:
#문자열도 들어감
"I eat {} apples." . format('three')

'I eat three apples.'

In [110]:
number = 10
"I eat {} apples." . format(number)

'I eat 10 apples.'

In [112]:
number = 10
day = 'three'
"I eat {0} apples. so I was sick for {1} days." . format(day, number)

'I eat three apples. so I was sick for 10 days.'

In [113]:
"I eat {number} apples. so I was sick for {day} days." . format(number=10, day=3)

'I eat 10 apples. so I was sick for 3 days.'

In [115]:
"I eat {1} apples. so I was sick for {0} days." . format(10, 3)

'I eat 3 apples. so I was sick for 10 days.'

## 정렬, 공백채우기는 잘안씀

## 소수점 표현하기 (잘안씀)

In [116]:
y = 3.42134234

"{0:0.4f}".format(y)

'3.4213'

# f 문자열 포매팅(강추)

In [117]:
name = '홍길동'
age = 30

f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [118]:
age = 30
f'나는 내년이면 {age+1}살이 된다'

'나는 내년이면 31살이 된다'

In [122]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

## 문자열 관련 함수들

In [124]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')

2

In [125]:
#위치 알려주기 find
a = "Python is the best choice"
a.find('b')

14

In [126]:
a.find('k') #해당되는게 없을 경우 -1을 반환 / 정보가 없더라도 멈추면 안되는 프로그램의 경우

-1

In [127]:
#위치 알려주기 index
a = "Life is too short"
a.index('t')

8

In [128]:
a.index('k') #해당되는게 없을 경우 오류 발생 / 에러가 생기면 반드시 멈춰야 되는 프로그램의 경우

ValueError: substring not found

In [129]:
# 문자열 삽입 join
a = 'abcd'
a

'abcd'

In [130]:
','.join(a)

'a,b,c,d'

In [131]:
a = ['a','b','c','d']
a

['a', 'b', 'c', 'd']

In [132]:
# . 잘 봐야함
','.join(a)

'a,b,c,d'

## 소문자를 대문자로 바꾸기 upper

In [137]:
a = 'hi'
a.upper()

'HI'

In [139]:
# 함수뒤에 ? 넣으면 설명(독스트링) 볼수있음.
print?

In [138]:
# 모든 함수들은 디폴트값이 있음
# ex) print 디폴트값은 공백 + 줄바꿈
print('hello')
print()
print('world')

hello

world

In [141]:
# 소문자 바꾸기
a = 'HI'
a.lower()

'hi'

### 왼쪽 공백 지우기 lstrip

In [146]:
a = "   hi   "
a

'   hi   '

In [147]:
a.lstrip()

'hi   '

In [148]:
a.rstrip()

'   hi'

In [149]:
a.strip()

'hi'

### 문자열 바꾸기 replace

In [150]:
a = 'Life is too short'
a.replace?

In [151]:
a.replace('Life', 'Your leg')

'Your leg is too short'

In [152]:
a

'Life is too short'

### 문자열 나누기 split

In [154]:
# 공백(디폴드값: 공백, tab, enter) 기준으로 나눠서 리스트로 반환해줌
a = 'Life is too short'
a.split()

['Life', 'is', 'too', 'short']

In [155]:
# : 기준으로 나누기
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

# 변수 
## 메모리에 저장

In [156]:
# 변수와 그 타입 출력
a = 1
a, type(a)

(1, int)

In [157]:
b = 'python'
b, type(b)

('python', str)

In [158]:
c = [1,2,3]
c, type(c)

([1, 2, 3], list)

In [160]:
# a라는 변수가 가진 객체주소의 값 리턴(메모리에 저장된)
id(a)

140721081193256

In [172]:
#문자열 복사
# b를 a로 지정하면 a가 저장된 메모리 값의 객체주소를 그대로 b로 가져오므로  id 가 같다
a = [1,2,3]
b = a
id(a), id(b)

(2460991963456, 2460991963456)

In [173]:
a is b

True

In [167]:
del b

NameError: name 'b' is not defined

In [174]:
a

[1, 2, 3]

In [175]:
b

[1, 2, 3]

In [177]:
a[0] = 4
a

[4, 4, 3]

In [178]:
b

[4, 4, 3]

In [179]:
num1 = 10
num1

10

In [180]:
num2 = num1
num1, num2

(10, 10)

In [181]:
num2 = 11
num1, num2

(10, 11)

## copy

In [ ]:
# 얕은 복사: b 변수로 a변수 참조하는 것 = 객체주소 분류가 안되고 서로 참조만 하는 것
# 깊은 복사: a 변수를 b에 오리지널 데이터로 복사하고 a는 보존

In [182]:
from copy import copy
a = [1,2,3]
a

[1, 2, 3]

In [183]:
b = copy(a)
id(a), id(b)

(2460988614272, 2460991262848)

In [184]:
# b는 a인가? (같은 객체인가?)
b is a

False

In [186]:
# b와 a의 값이 같은가?
b == a

True

## 변수를 만드는 다양한 방법

In [187]:
a, b = ('python', 'life')
a, b

('python', 'life')

In [189]:
(a,b) = 'python', 'life'
a, b

('python', 'life')

In [190]:
[a,b] = ['python', 'life']
a,b

('python', 'life')

In [191]:
a=3
b=5
a, b

(3, 5)

In [193]:
a, b = b,a
a,b

(3, 5)