# 151 ~ 160

### 151

In [1]:
# 리스트에는 네 개의 정수가 저장돼 있다. for문을 사용해서 리스트의 음수를 출력하라.

리스트 = [3, -20, -3, 44]

for 변수 in 리스트 :
    if 변수 < 0 :
        print(변수)

-20
-3

### 152

In [3]:
# for문을 사용해서 3의 배수만을 출력하라.


리스트 = [3, 100, 23, 44, 33, 99]

for 변수 in 리스트 :
    if 변수%3 == 0 :
        print(변수)

3
33
99

### 153

In [6]:
#m리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]

for 변수 in 리스트 :
    if 변수%3 == 0 and 변수 < 20 :
        print(변수)

12
18

### 154

In [7]:
# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]

for 변수 in 리스트 :
    if len(변수) >= 3 :
        print(변수)

study
python
language

### 155

In [10]:
# 리스트에서 대문자만 화면에 출력하라.


리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트 :
    if 변수.isupper() :
        print(변수)

A
D

### 156

In [11]:
# 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트 :
    if 변수.islower() :
        print(변수)

b
c

### 157

In [19]:
# 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']



for 변수 in 리스트 :
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

### 158

In [26]:
# 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)


a = ['hello.py', 'ex01.py', 'intro.hwp']

for b in a :
    c = b.split('.')
    print(c[0])

hello
ex01
intro

### 159

In [31]:
#파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for b in 리스트 :
    if b[-2:] == ".h" :
        print(b)

intra.h
define.h

In [32]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
        print(변수)

intra.h
define.h

### 160

In [33]:
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for b in 리스트 :
    if b[-2:] == ".h" or b[-2:] == ".c" :
        print(b)

intra.h
intra.c
define.h

# 161 ~ 170

### 161

In [36]:
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

for a in range(100) :
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

### 162

In [39]:
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

for a in range(2002, 2051, 4):
    print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

### 163

In [43]:
#1부터 30까지의 숫자 중 3의 배수를 출력하라.

for a in range(1,31):
    if a % 3 == 0 :
        print(a)

3
6
9
12
15
18
21
24
27
30

### 164

In [45]:
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

for a in range(100) :
    print(99-a)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

### 165

In [48]:
# for문을 사용해서 아래와 같이 출력하라.

for a in range(10) :
    print(a/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

### 166

In [52]:
# 구구단 3단을 출력하라.

for a in range(1,10) :
    print("3 x",a,"=", a*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

### 167

In [53]:
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

for a in range(1,10,2) :
    print("3 x",a,"=", a*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

### 168

In [56]:
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.
b=0
for a in range(1,11) :
    b+=a
    print(b)

1
3
6
10
15
21
28
36
45
55

### 169

In [57]:
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

b=0
for a in range(1,11,2) :
    b+=a
    print(b)

1
4
9
16
25

### 170

In [60]:
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

b=1
for a in range(1,11) :
    b*=a
    print(b)

1
2
6
24
120
720
5040
40320
362880
3628800

## 171~180

### 171

In [64]:
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for a in range(4) :
    print(price_list[a])

32100
32150
32000
32500

In [65]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

### 172

In [69]:
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for a in range(4) :
    print(a, price_list[a])

0 32100
0 32150
0 32000
0 32500

### 173

In [70]:
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for a in range(len(price_list)) :
    print((len(price_list) - 1) - a, price_list[a])

3 32100
2 32150
1 32000
0 32500

### 174

In [78]:
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]

for a in range(1,4) :
    print(90+10*a, price_list[a])

100 32150
110 32000
120 32500

### 175

In [85]:
#my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for a in range(1, len(my_list)) :
    print(my_list[a-1],my_list[a])

가 나
나 다
다 라

### 176

In [88]:
# 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]

for a in range(2, len(my_list)) :
    print(my_list[a-2],my_list[a-1],my_list[a])

가 나 다
나 다 라
다 라 마

### 177

In [91]:
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for a in range(1, len(my_list)) :
    print(my_list[-a],my_list[-a-1])

라 다
다 나
나 가

### 178

In [95]:
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]

for a in range(0, len(my_list)-1) :
    print(my_list[a+1] - my_list[a])

100
200
400

### 179

In [96]:
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

#첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다.
# 같은 방식으로 나머지 데이터의 평균을 출력한다.

for a in range(0, len(my_list)-2) :
    print((my_list[a] + my_list[a+1] + my_list[a+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

### 180

In [107]:
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility=[]

for a in range(len(low_prices)) :
    volatility.append(high_prices[a] - low_prices[a])
    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

In [105]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

## 181~190

### 181

In [109]:
#  아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

print(apart[1])

['201호', '202호']

### 182

In [112]:
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.


stock = [["시가", 100, 200, 300],["종가", 80, 210, 330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

### 183

In [116]:
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다

stock = {"시가": [100,200,300],"종가": [80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

### 184

In [117]:
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고,
# 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

stock = {"10/10":[80,110,70,90], "10/11":[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

### 185

In [119]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(row, col, "호")

[101, 102] 101 호
[101, 102] 102 호
[201, 202] 201 호
[201, 202] 202 호
[301, 302] 301 호
[301, 302] 302 호

### 186

In [120]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

### 187

In [121]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

### 188

In [122]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

### 189

In [123]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

### 190

In [124]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 091~100

### 091 딕셔너리 생성

In [137]:
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

inventory = {'메로나': [300,20], '비비빅': [400,3], '죠스바': [250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

### 092 딕셔너리 인덱싱

In [143]:
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][0],"원",inventory['메로나'][1],"재고")

300 원 20 재고

### 093 딕셔너리 인덱싱

In [146]:
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][1],"개")

20 개

### 094 딕셔너리 추가

In [148]:
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

### 095 딕셔너리 keys() 메서드

In [149]:
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
ice

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

### 096 딕셔너리 values() 메서드

In [152]:
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.


icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.values())
ice

[1200, 1200, 1800, 1500, 1000]

### 097  딕셔너리 values() 메서드

In [46]:
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = sum(icecream.values())
ice

['Hello', 'world']

### 098 딕셔너리 update 메서드

In [154]:
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

### 099 zip과 dict

In [157]:
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

### 100 zip과 dict

In [159]:
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table= dict(zip(date,close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

In [50]:
data = "     039490     "
data.lstrip()

'039490     '

In [51]:
data = "     039490     "
data.strip()

'039490'