# 001 ~ 010

### 001 print 기초

In [2]:
# 화면에 Hello World 문자열을 출력하세요.

print ('Hello World')

Hello World

### 002 print 기초

In [3]:
# 화면에 Mary's cosmetics을 출력하세요. 
print("Mary's cosmetics")

Mary's cosmetics

### 003 print 기초

In [6]:
#화면에 아래 문장을 출력하세요. 
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

### 004 print 기초

In [7]:
# 화면에 C:\Windows를 출력하세요.
print("C:\Windows")

C:\Windows

### 005 print 탭과 줄바꿈

In [10]:
#다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [11]:
# \t 는 tab, \n은 줄바꿈

### 006 print 여러 데이터 출력

In [12]:
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print('오늘은', '일요일')

오늘은 일요일

In [ ]:
# 쉼표로 구분하는 경우 2 문자열 값을 모두 출력하고 각 값의 사이에 공백을 넣는다.

### 007 print 기초

In [20]:
# print() 함수를 사용하여 다음과 같이 출력하세요.

print("naver", "kakao", "sk", "samsung", sep='/')

naver/kakao/sk/samsung

In [ ]:
# 쉼표로 문자열 구분하고 sep="" 를 추가하면 각 문자열 사이에 해당 기호나 문자 삽입

### 008 print 기초

In [21]:
# print() 함수를 사용하여 다음과 같이 출력하세요.

print("naver", "kakao", "sk", "samsung", sep=';')

naver;kakao;sk;samsung

In [23]:
print("first", end=""); print("second")

firstsecond

### 009 print 줄바꿈

In [36]:
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first", end=""); print("second")

firstsecond

In [29]:
# print 함수 내에 사용하는 end="" 마지막 값 뒤에 문자열이 추가

### 010 연산 결과 출력

In [38]:
# 5/3의 결과를 화면에 출력하세요.

print(3/5)

0.6

# 011 ~ 020

### 011 변수 사용하기

In [39]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 012 변수 사용하기

In [41]:
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 013 문자열 출력

In [ ]:
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = "hello"
t = "python"

In [47]:
#두 변수를 이용하여 아래와 같이 출력해보세요.

s = "hello"
t = "python"

print(s+'!',t)

hello! python

### 014 파이썬을 이용한 값 계산

In [48]:
#아래 코드의 실행 결과를 예상해보세요.

2+2*3

8

### 015 type 함수

In [49]:
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
a = 128
print (type(a))

<class 'int'>

In [52]:
#아래 변수에 바인딩된 값의 타입을 판별해보세요.

a='132'

# '' 안에 숫자를 넣었으므로 문자열 타입
print (type(a))

<class 'str'>

### 016 문자열을 정수로 변환

In [54]:
# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

### 017 정수를 문자열 100으로 변환

In [55]:
# 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

### 018 문자열을 실수로 변환

In [58]:
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a = '15.79'
a = float(a)
print(a, type(a))

15.79 <class 'float'>

### 019 문자열을 정수로 변환

In [61]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
year = int(year)
print(year-3, year-2, year-1, year, type(year))

2017 2018 2019 2020 <class 'int'>

### 020 파이썬 계산

In [62]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

price = 48584
mip = 36

price*mip

1749024