# 251 ~ 260

### 251 클래스, 객체, 인스턴스

Q. 클래스와 객체에 대해 설명해봅시다.
A. 클래스에 관련있는 데이터와 함수를 한데 모아 정의, 클래스로 만들어진 결과물=객체

### 252 클래스 정의

In [2]:
# 비어있는 사람 (Human) 클래스를 "정의" 해보세요.

class Human:
    pass

### 253 인스턴스 생성

In [7]:
# 사람 (Human) 클래스의 인스턴스를 "생성" 하고 이를 areum 변수로 바인딩해보세요.

class Human:
    pass

areum=Human()

### 254 클래스 생성자-1

In [12]:
# 사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

class Human:
    def __init__(self) :
        print("응애응애")

areum=Human()

응애응애

### 255 클래스 생성자-2

In [19]:
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

class Human:
    def __init__(self,name, age, sex) :
        self.name=name
        self.age=age
        self.sex=sex

areum = Human("아름", 25, "여성")
print(areum.age)

25

### 256 인스턴스 속성에 접근

In [22]:
# 255에서 생성한 인스턴스의 이름, 나이, 성별을 출력하세요. 인스턴스 변수에 접근하여 값을 출력하면 됩니다.



class Human:
    def __init__(self,name, age, sex) :
        self.name=name
        self.age=age
        self.sex=sex

areum = Human("조아름", 25, "여자")

print("이름:",areum.name, "나이:", areum.age, "성별:",areum.sex)

이름: 조아름 나이: 25 성별: 여자

### 257 클래스 메소드 - 1

In [30]:
# 사람 (Human) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하세요.


class Human:
    def __init__(self,name, age, sex) :
        self.name=name
        self.age=age
        self.sex=sex
        
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

areum=Human("조아름", 25, "여자")

areum.who()

이름: 조아름 나이: 25 성별: 여자

### 258 클래스 메소드 - 2

In [31]:
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

class Human:
    def __init__(self,name, age, sex) :
        self.name=name
        self.age=age
        self.sex=sex
        
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))
        
    def setinfo(self,name, age, sex) :
        self.name=name
        self.age=age
        self.sex=sex

areum=Human("조아름", 25, "여자")
areum.who()

이름: 조아름 나이: 25 성별: 여자

In [32]:
areum.setinfo("아름", 25, "미상")
areum.who()

이름: 아름 나이: 25 성별: 미상

### 259 클래스 소멸자

In [34]:
# 사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

class Human:
    def __init__(self,name, age, sex) :
        self.name=name
        self.age=age
        self.sex=sex
        
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))
        
    def __del__(self):
        print("나의 죽음을 알리지마라")    
        
    def setinfo(self,name, age, sex) :
        self.name=name
        self.age=age
        self.sex=sex
        
        
areum=Human("조아름", 25, "여자")
del areum

나의 죽음을 알리지마라

### 260 에러의 원인

In [37]:
# 아래와 같은 에러가 발생한 원인에 대해 설명하세요.

class OMG : 
    def print() :
        print("Oh my god")
        
myStock = OMG()

OMG.print(myStock)

TypeError: OMG.print() takes 0 positional arguments but 1 was given

# 261 ~ 270

### 261

In [38]:
# 주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 클래스는 속성과 메서드를 갖고 있지 않습니다.


class Stock:
    pass

### 262 생성자

In [44]:
# Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.

class Stock:
    def __init__(self,name,price):
        self.name=name
        self.price=price

삼성 = Stock("삼성전자", "005930")

print(삼성.name, 삼성.price)

삼성전자 005930

### 263 메서드

In [49]:
#객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.

class Stock:
    def __init__(self,name,price):
        self.name=name
        self.price=price
    def set_name(self,name):
        self.name=name

삼성 = Stock("삼성전자", "005930")

a = Stock(None, None)

a.set_name("삼성전자")
print(a.name, a.price)

삼성전자 None

### 264 메서드

In [51]:
# 객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.

class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code

a = Stock(None, None)

a.set_code("005930")
print(a.name, a.code)

None 005930

### 265 메서드

In [55]:
# 종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 
# 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.

class Stock:
    def __init__(self,name,code):
        self.name=name
        self.code=code
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code
    def get_name(self):
        print(self.name)
    def get_code(self):
        print(self.code)
        
삼성 = Stock("삼성전자", "005930")

삼성.get_code()
삼성.get_name()

005930
삼성전자

### 266 메서드

In [58]:
# 생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요.
# PER, PBR, 배당수익률은 float 타입입니다.

class Stock:
    def __init__(self,name,code,per,pbr,rate):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.rate=rate
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code
    def get_name(self):
        print(self.name)
    def get_code(self):
        print(self.code)
        
삼성 = Stock("삼성전자", "005930", 35, 40, 20)

print(삼성.per, 삼성.pbr, 삼성.rate)

35.0 40.0 20.0

### 267

In [62]:
# 266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.

class Stock:
    def __init__(self,name,code,per,pbr,rate):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.rate=rate
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code
    def get_name(self):
        print(self.name)
    def get_code(self):
        print(self.code)

삼성 = Stock("삼성전자", "005930", 15.79,1.33,2.83)

print(삼성.name,삼성.code,삼성.per,삼성.pbr,삼성.rate)

삼성전자 005930 15.79 1.33 2.83

### 268

In [66]:
# PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.

class Stock:
    def __init__(self,name,code,per,pbr,rate):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.rate=rate
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code
    def set_per(self,per):
        self.per=per
    def set_pbr(self,pbr):
        self.pbr=pbr
    def set_rate(self,rate):
        self.rate=rate
    def get_name(self):
        print(self.name)
    def get_code(self):
        print(self.code)
        
삼성 = Stock("삼성전자", "005930", 15.79,1.33,2.83)

삼성.set_per(22.76)
삼성.set_pbr(46.83)
삼성.set_rate(30.02)

print(삼성.per,삼성.pbr,삼성.rate)

22.76 46.83 30.02

### 269 객체의 속성 수정

In [67]:
# 267번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.

class Stock:
    def __init__(self,name,code,per,pbr,rate):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.rate=rate
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code
    def set_per(self,per):
        self.per=per
    def set_pbr(self,pbr):
        self.pbr=pbr
    def set_rate(self,rate):
        self.rate=rate
    def get_name(self):
        print(self.name)
    def get_code(self):
        print(self.code)
        
삼성 = Stock("삼성전자", "005930", 15.79,1.33,2.83)

삼성.set_per(12.75)
print(삼성.per)

12.75

### 270

In [71]:
# 아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요.
# 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.

class Stock:
    def __init__(self,name,code,per,pbr,rate):
        self.name=name
        self.code=code
        self.per=per
        self.pbr=pbr
        self.rate=rate
    def set_name(self,name):
        self.name=name
    def set_code(self,code):
        self.code=code
    def set_per(self,per):
        self.per=per
    def set_pbr(self,pbr):
        self.pbr=pbr
    def set_rate(self,rate):
        self.rate=rate
    def get_name(self):
        print(self.name)
    def get_code(self):
        print(self.code)

종목=[]
        
삼성=Stock("삼성전자", "005930", 15.79,1.33,2.83)
현대차=Stock("현대차", "005380", 8.70,0.35,4.27)
LG전자=Stock("LG전자", "0066570", 317.34,0.69,1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)

005930 15.79
005380 8.7
0066570 317.34

## 271~280

### 271 Account 클래스

In [80]:
# 은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. 
# Account 클래스를 생성한 후 생성자를 구현해보세요. 생성자에서는 예금주와 초기 잔액만 입력 받습니다. 
# 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.

import random                 # random 숫자를 랜덤으로 뽑기위해 미리 선언

class Account :
    def __init__(self, 예금주, 잔액):
        self.예금주 = 예금주
        self.잔액 = 잔액
        self.은행이름 = "SC은행"
        
        num1=random.randint(0,999)              # random.randint(0,000) 0부터 000사이의 숫자 랜덤 생성
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1= str(num1).zfill(3)                # 뽑은 숫자를 문자열로 변경 + zfill(n) n자릿수로 채워줌 ex) 99 -> 099
        num2= str(num2).zfill(2)
        num3= str(num3).zfill(6)
        
        self.계좌번호 = (num1+ "-"+num2+ "-"+num3)
    
        print(self.은행이름,self.예금주,self.계좌번호,self.잔액)

JDG=Account("장동길",500000)

SC은행 장동길 012-94-599652 500000

### 272 클래스 변수

In [84]:
# 클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.

import random                 

class Account :
    
    account_count = 0                     #클래스 안에 변수를 하나 생성
    
    def __init__(self, 예금주, 잔액):
        self.예금주 = 예금주
        self.잔액 = 잔액
        self.은행이름 = "SC은행"
        
        num1=random.randint(0,999)              
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1= str(num1).zfill(3)               
        num2= str(num2).zfill(2)
        num3= str(num3).zfill(6)
        
        self.계좌번호 = (num1+ "-"+num2+ "-"+num3)
    
        print(self.은행이름,self.예금주,self.계좌번호,self.잔액)
        
        Account.account_count += 1       #Account 클래스 안에 선언된 account_count 를 1개 더한다
        
        
JDG=Account("장동길",500000)
rrr=Account("장동준",5000)
hhr=Account("한해랑",500000000)

print(Account.account_count)

SC은행 장동길 354-60-218556 500000
SC은행 장동준 919-50-683927 5000
SC은행 한해랑 376-13-124686 500000000
3

### 273 클래스 변수 출력

In [92]:
# Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

import random                 

class Account :
    
    account_count = 0                     #클래스 안에 변수를 하나 생성
    
    def __init__(self, 예금주, 잔액):
        self.예금주 = 예금주
        self.잔액 = 잔액
        self.은행이름 = "SC은행"
        
        num1=random.randint(0,999)              
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1= str(num1).zfill(3)               
        num2= str(num2).zfill(2)
        num3= str(num3).zfill(6)
        
        self.계좌번호 = (num1+ "-"+num2+ "-"+num3)
    
        print(self.은행이름,self.예금주,self.계좌번호,self.잔액)
        
        Account.account_count += 1       
    
    @classmethod                     # 클래스에 직접 접근?
    def get_account_num(cls):
        print(cls.account_count)     # 클래스메서드 선언하면    Account.get_account_num(kim)  으로 쓴것과 동일해짐
        
        
JDG=Account("장동길",500000)
rrr=Account("장동준",5000)
hhr=Account("한해랑",500000000)
dfr=Account("한d랑",500000000)

JDG.get_account_num()

SC은행 장동길 049-97-511826 500000
SC은행 장동준 767-19-630743 5000
SC은행 한해랑 671-59-061344 500000000
SC은행 한d랑 011-01-658583 500000000
4

### 274 입금 메서드

In [116]:
# Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.


import random                 

class Account :
    
    account_count = 0                     #클래스 안에 변수를 하나 생성
    
    def __init__(self, 예금주, 잔액):
        self.예금주 = 예금주
        self.잔액 = 잔액
        self.은행이름 = "SC은행"
        
        num1=random.randint(0,999)              
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1= str(num1).zfill(3)               
        num2= str(num2).zfill(2)
        num3= str(num3).zfill(6)
        
        self.계좌번호 = (num1+ "-"+num2+ "-"+num3)
    
        print(self.은행이름,self.예금주,self.계좌번호,self.잔액)
        
        Account.account_count += 1       
    
    @classmethod                     # 클래스에 직접 접근?
    def get_account_num(cls):
        print(cls.account_count)     # 클래스메서드 선언하면    Account.get_account_num(kim)  으로 쓴것과 동일해짐
        
    def deposit(self, 입금):
        if 입금 >= 1:
            self.잔액 += 입금
        


JDG.deposit(100000)
JDG.잔액

1500000

### 275 출금 메서드

In [148]:
#Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.


import random                 

class Account :
    
    account_count = 0                     #클래스 안에 변수를 하나 생성
    
    def __init__(self, 예금주, 잔액):
        self.예금주 = 예금주
        self.잔액 = 잔액
        self.은행이름 = "SC은행"
        
        num1=random.randint(0,999)              
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1= str(num1).zfill(3)               
        num2= str(num2).zfill(2)
        num3= str(num3).zfill(6)
        
        self.계좌번호 = (num1+ "-"+num2+ "-"+num3)
    
        print(self.은행이름,self.예금주,self.계좌번호,self.잔액)
        
        Account.account_count += 1       
    
    @classmethod                   
    def get_account_num(cls):
        print(cls.account_count) 
        
    def deposit(self, 금액):
        if 금액 >= 1:
            self.잔액 += 금액
    
    def withdraw(self, 금액):
        if self.잔액 >= 금액:
            self.잔액 -= 금액


JDG.withdraw(100000)
JDG.잔액

200000

### 276 정보 출력 메서드

In [161]:
# Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드를 추가하세요. 잔고는 세자리마다 쉼표를 출력하세요.


import random                 

class Account :
    
    account_count = 0                     #클래스 안에 변수를 하나 생성
    
    def __init__(self, 예금주, 잔액):
        self.예금주 = 예금주
        self.잔액 = 잔액
        self.은행이름 = "SC은행"
        
        num1=random.randint(0,999)              
        num2=random.randint(0,99)
        num3=random.randint(0,999999)
        
        num1= str(num1).zfill(3)               
        num2= str(num2).zfill(2)
        num3= str(num3).zfill(6)
        
        self.계좌번호 = (num1+ "-"+num2+ "-"+num3)
    
        print(self.은행이름,self.예금주,self.계좌번호,self.잔액)
        
        Account.account_count += 1       
    
    @classmethod                   
    def get_account_num(cls):
        print(cls.account_count) 
        
    def deposit(self, 금액):
        if 금액 >= 1:
            self.잔액 += 금액
    
    def withdraw(self, 금액):
        if self.잔액 >= 금액:
            self.잔액 -= 금액
            
    def display_info(self):
        print("은행이름:"+ self.은행이름, "예금주:"+ self.예금주, "계좌번호:"+ self.계좌번호, "잔액:"+f"{self.잔액:,}")
        
JDG=Account("장동길",500000)
JDG.display_info()

SC은행 장동길 473-62-978898 500000
은행이름:SC은행 예금주:장동길 계좌번호:473-62-978898 잔액:500,000

### 177

In [91]:
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]

for a in range(1, len(my_list)) :
    print(my_list[-a],my_list[-a-1])

라 다
다 나
나 가

### 178

In [95]:
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]

for a in range(0, len(my_list)-1) :
    print(my_list[a+1] - my_list[a])

100
200
400

### 179

In [96]:
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]

#첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다.
# 같은 방식으로 나머지 데이터의 평균을 출력한다.

for a in range(0, len(my_list)-2) :
    print((my_list[a] + my_list[a+1] + my_list[a+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

### 180

In [107]:
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility=[]

for a in range(len(low_prices)) :
    volatility.append(high_prices[a] - low_prices[a])
    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

In [105]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

## 181~190

### 181

In [109]:
#  아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]

print(apart[1])

['201호', '202호']

### 182

In [112]:
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.


stock = [["시가", 100, 200, 300],["종가", 80, 210, 330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

### 183

In [116]:
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다

stock = {"시가": [100,200,300],"종가": [80,210,330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

### 184

In [117]:
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고,
# 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

stock = {"10/10":[80,110,70,90], "10/11":[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

### 185

In [119]:
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(row, col, "호")

[101, 102] 101 호
[101, 102] 102 호
[201, 202] 201 호
[201, 202] 202 호
[301, 302] 301 호
[301, 302] 302 호

### 186

In [120]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

### 187

In [121]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

### 188

In [122]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

### 189

In [123]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

### 190

In [124]:
#리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191~200

### 191

In [12]:
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

#수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

for price in data:
    for price2 in price:
        vat=price2*1.00014
        print(vat)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

### 192

In [13]:
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.


for price in data:
    for price2 in price:
        vat=price2*1.00014
        print(vat)
    print("-"*5)

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

### 193

In [29]:
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

result=[]
for price in data:
    for price2 in price:
        result.append(price2*1.00014)    
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

### 194

In [47]:
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 
# 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

result=[]
for price in data:
    sub=[]
    for price2 in price:
        sub.append(price2*1.00014)    
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

### 195

In [51]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for price in ohlc[1:]:
    print(price[3])

100
190
310

### 196

In [55]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for price in ohlc[1:]:
    if price[3] > 150 :
        print(price[3])

190
310

### 197

In [58]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for price in ohlc[1:]:
    if price[3] >= price[0] :
        print(price[3])

100
310

### 198

In [63]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.


ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []
for price in ohlc[1:]:
    volatility.append(price[1] - price[2])
print(volatility)

[40, 30, 10]

### 199

In [70]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]


for price in ohlc[1:]:
    if price[3] > price[0] :
        print(price[1] - price[2])

10

### 200

In [82]:
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

sell = 0
for price in ohlc[1:]:
    sell += price[3] - price[0]
print(sell)

0