# 001 ~ 010

### 001 print 기초

In [2]:
# 화면에 Hello World 문자열을 출력하세요.

print ('Hello World')

Hello World

### 002 print 기초

In [3]:
# 화면에 Mary's cosmetics을 출력하세요. 
print("Mary's cosmetics")

Mary's cosmetics

### 003 print 기초

In [6]:
#화면에 아래 문장을 출력하세요. 
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

### 004 print 기초

In [7]:
# 화면에 C:\Windows를 출력하세요.
print("C:\Windows")

C:\Windows

### 005 print 탭과 줄바꿈

In [10]:
#다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [11]:
# \t 는 tab, \n은 줄바꿈

### 006 print 여러 데이터 출력

In [12]:
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print('오늘은', '일요일')

오늘은 일요일

In [ ]:
# 쉼표로 구분하는 경우 2 문자열 값을 모두 출력하고 각 값의 사이에 공백을 넣는다.

### 007 print 기초

In [20]:
# print() 함수를 사용하여 다음과 같이 출력하세요.

print("naver", "kakao", "sk", "samsung", sep='/')

naver/kakao/sk/samsung

In [ ]:
# 쉼표로 문자열 구분하고 sep="" 를 추가하면 각 문자열 사이에 해당 기호나 문자 삽입

### 008 print 기초

In [21]:
# print() 함수를 사용하여 다음과 같이 출력하세요.

print("naver", "kakao", "sk", "samsung", sep=';')

naver;kakao;sk;samsung

In [23]:
print("first", end=""); print("second")

firstsecond

### 009 print 줄바꿈

In [36]:
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
print("first", end=""); print("second")

firstsecond

In [29]:
# print 함수 내에 사용하는 end="" 마지막 값 뒤에 문자열이 추가

### 010 연산 결과 출력

In [38]:
# 5/3의 결과를 화면에 출력하세요.

print(3/5)

0.6

# 011 ~ 020

### 011 변수 사용하기

In [39]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 012 변수 사용하기

In [41]:
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 013 문자열 출력

In [ ]:
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
s = "hello"
t = "python"

In [47]:
#두 변수를 이용하여 아래와 같이 출력해보세요.

s = "hello"
t = "python"

print(s+'!',t)

hello! python

### 014 파이썬을 이용한 값 계산

In [48]:
#아래 코드의 실행 결과를 예상해보세요.

2+2*3

8

### 015 type 함수

In [49]:
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
a = 128
print (type(a))

<class 'int'>

In [52]:
#아래 변수에 바인딩된 값의 타입을 판별해보세요.

a='132'

# '' 안에 숫자를 넣었으므로 문자열 타입
print (type(a))

<class 'str'>

### 016 문자열을 정수로 변환

In [54]:
# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

### 017 정수를 문자열 100으로 변환

In [55]:
# 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

### 018 문자열을 실수로 변환

In [58]:
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a = '15.79'
a = float(a)
print(a, type(a))

15.79 <class 'float'>

### 019 문자열을 정수로 변환

In [61]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
year = int(year)
print(year-3, year-2, year-1, year, type(year))

2017 2018 2019 2020 <class 'int'>

### 020 파이썬 계산

In [62]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

price = 48584
mip = 36

price*mip

1749024

## 021~030

### 021 문자열 인덱싱

In [3]:
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0],letters[2])

p t

### 022 문자열 슬라이싱

In [9]:
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
print(license_plate [-4:])
    # -1은 끝글자이고 -4는 끝에서 4번째글자, -4: 는 -4글자부터 끝까지를 의미, :-4 로 하면 처음부터 -4까지를 의미

2210

### 023 문자열 인덱싱

In [16]:
#아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"
print(string[::2])
    ##시작인덱스:끝인덱스:오프셋 // ::2 의 경우 처음부터 끝까지 2칸씩 띄어서 출력을 의미

홀홀홀

### 024 문자열 인덱싱

In [15]:
#문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

### 025 문자열 치환

In [17]:
#아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-"," ")
print(phone_number1)
    ## .replace 사용하면 문자열 치환, 문자열은 수정할 수 없는 자료형이므로 새 문자열에 저장하고 그걸 출력

010 1111 2222

### 026 문자열 다루기

In [18]:
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number = "010-1111-2222"
phone_number2 = phone_number.replace("-","")
print(phone_number2)

01011112222

### 027 문자열 다루기

In [39]:
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://www.sharebook.kr"
url_split = url.split('.')
print(url_split[-1])
    # .split사용하면 조건을 기준으로 문자열 분리해서 여러개됨,
    ## 문자열은 수정할 수 없는 자료형이므로 새 문자열에 저장하고 그 중 몇번째걸 출력할것인지 결정

kr

### 028 문자열은 immutable

In [40]:
# 아래 코드의 실행 결과를 예상해보세요.
lang = 'python'
lang[0] = 'P'
print(lang)
    ## 문자열은 수정할수가 없으므로 오류남

TypeError: 'str' object does not support item assignment

### 029 replace 메서드 // 이건 왜 되는건가요?

In [41]:
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)
    ## 이 경우는 기존 문자열을 교체하였으므로 가능하지만 아래 030은 그대로 리플레이스 명령을 줘서 안바뀐건가?

Abcdfe2A354A32A

### 030 replace 메서드

In [43]:
string = 'abcd'
string.replace('b', 'B')
print(string)
    #replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴

abcd

## 031~040

### 031 문자열 합치기

In [1]:
a = "3"
b = "4"
print(a + b)

# 문자열을 덧셈하면 숫자로 덧셈하는것과 달리 문자열을 연결해서 붙인 새 문자열 생성해서 출력함

34

### 032 문자열 곱하기

In [2]:
# 아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)

HiHiHi

### 033 문자열 곱하기

In [3]:
# 화면에 '-'를 80개 출력하세요
print('-'*80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기

In [7]:
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# python java python java python java python java

print((t1+' '+t2+' ')*4)

python java python java python java python java

### 035 문자열 출력

In [10]:
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13


# `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력

In [11]:
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력

In [12]:
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기

In [19]:
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
콤마제거= 상장주식수.replace(",","")    #문자열의 replace 메서드로 컴마를 제거
타입변환=int(콤마제거)                  #정수형으로 타입을 변환하려면 int( ) 함수를 사용
타입변환, type(타입변환)

(5969782550, int)

### 039 문자열 슬라이싱

In [24]:
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

### 040 strip 메서드

In [25]:
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()       # 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거
print(data1)

삼성전자

## 041~050

### 041 upper 메서드

In [26]:
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
ticker1 = ticker.upper()
ticker1

'BTC_KRW'

### 042 lower 메서드

In [28]:
ticker2 = ticker1.lower()
ticker, ticker1, ticker2

('btc_krw', 'BTC_KRW', 'btc_krw')

### 043 capitalize 메서드

In [32]:
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
a1 = a.capitalize()
a, a1

('hello', 'Hello')

### 044 endswith 메서드

In [33]:
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

### 045 endswith 메서드

In [39]:
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xls"
file_name.endswith(("xlsx", "xls"))

True

### 046 startswith 메서드

In [40]:
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

### 047 split 메서드

In [46]:
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a="Hello world"
a.split()

['Hello', 'world']

### 048 split 메서드

In [47]:
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

### 049 split 메서드

In [48]:
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

### 050 rstrip 메서드

In [52]:
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "     039490     "
data.rstrip()

'     039490'

In [50]:
data = "     039490     "
data.lstrip()

'039490     '

In [51]:
data = "     039490     "
data.strip()

'039490'