# 051 ~ 060

### 051 리스트 생성

In [1]:
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다.
# 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

### 052 리스트에 원소 추가

In [2]:
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

### 053 리스트에 원소 추가

In [3]:
#movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")   # 1번 자리에 슈퍼맨을 삽입
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 054

In [5]:
# movie_rank 리스트에서 '럭키'를 삭제하라.

del movie_rank[3]  # 3번 자리의 인덱스를 삭제
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

### 055

In [12]:
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
del movie_rank[2:]  # 2번부터 모두 삭제
movie_rank

['닥터 스트레인지', '스플릿']

### 056

In [14]:
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

### 057

In [19]:
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)


nums = [1, 2, 3, 4, 5, 6, 7]

print("max : ", max(nums))
print("min : ", min(nums))

max :  7
min :  1

### 058

In [20]:
# 다음 리스트의 합을 출력하라.


nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

### 059

In [23]:
#다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.


cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

print(len(cook))

12

In [29]:
# len 은 문자열 길이를 구할때도 쓰는 함수인데 리스트에서 쓸 경우 리스트의 인덱스 갯수를 출력해줌

### 060

In [26]:
# 다음 리스트의 평균을 출력하라.


nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
average

3.0

# 061 ~ 070

### 061

In [29]:
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])          # 대괄호 주의

[100, 130, 140, 150, 160, 170]

### 062

In [33]:
# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(nums[::2])

[1, 3, 5, 7, 9]

### 063

In [40]:
# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

### 064

In [48]:
#슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]

print(nums[::-1])

[5, 4, 3, 2, 1]

### 065

In [50]:
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# print(interest[::2])
print(interest[0], interest[2])

삼성전자 Naver

### 066 join 메서드

In [61]:
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

print(" ".join(interest))
# interest 인덱스를 출력하되 각 인덱스 사이에 " "을 넣어라

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### 067 join 메서드

In [62]:
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

### 068 join 메서드

In [64]:
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

#join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.


print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

### 069 문자열 split 메서드

In [71]:
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

### 070 리스트 정렬

In [62]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

price = 48584
mip = 36

price*mip

1749024

## 071~080

### 071

In [74]:
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()
type(my_variable)

tuple

### 072

In [76]:
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
movie_rank, type(movie_rank)

(('닥터 스트레인지', '스플릿', '럭키'), tuple)

### 073

In [82]:
# 숫자 1 이 저장된 튜플을 생성하라.

tu_1 = (1,)
tu_1, type(tu_1)

((1,), tuple)

### 074

In [83]:
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

# tuple의 원소값 변경 불가(immutable)

TypeError: 'tuple' object does not support item assignment

### 075

In [84]:
#아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
t, type(t)

((1, 2, 3, 4), tuple)

### 076

In [88]:
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

t = ('A', 'b', 'c')

t

# 값 변경 불가능하므로 t라는 변수를 업데이트 해야함. 기존 튜플은 삭제

('A', 'b', 'c')

### 077  안되는데요

In [109]:
# 다음 튜플을 리스트로 변환하라.


interest = ('삼성전자', 'LG전자', 'SK Hynix')
print(list(interest), type(interest))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'tuple'>

### 078   안되는데요

In [101]:
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)

interest, type(interest)

(['삼성전자', 'LG전자', 'SK Hynix'], list)

### 079 튜플 언팩킹

In [104]:
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

### 080 range 함수

In [107]:
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

A = tuple(range(2,100,2))     #range(0,00,0)  /  0부터 00까지 0 간격으로?
A

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

## 081~090

### 081 별 표현식

In [111]:
#  데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
# 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

a, *b, c = (0, 1, 2, 3, 4, 5)
a, b, c

(0, [1, 2, 3, 4], 5)

In [113]:
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때,
# start expression을 사용하여 좌측 8개의 값을 valid_score변수에 바인딩하여라

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, b, c = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

### 082

In [114]:
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

b,c,*valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

### 083

In [115]:
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

b,*valid_score, c = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

### 084 비어있는 딕셔너리

In [117]:
# temp 이름의 비어있는 딕셔너리를 만들라.

temp={}
temp, type(temp)

({}, dict)

### 085

In [121]:
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

ice={"메로나": 1000, "폴라포": 1200, "빵빠레" : 1800}
ice, type(ice)

({'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}, dict)

### 086

In [123]:
#085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.


ice["죠스바"] = 1200
ice["월드콘"] = 1500
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 087

In [132]:
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격:", ice['메로나'])

메로나 가격: 1000

### 088

In [133]:
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 089

In [134]:
# 다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice["메로나"]
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 090

In [135]:
# 다음 코드에서 에러가 발생한 원인을 설명하라.
# 딕셔너리에 없는 값을 불러오려고 해서 오류남

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

## 091~100

### 091 딕셔너리 생성

In [137]:
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

inventory = {'메로나': [300,20], '비비빅': [400,3], '죠스바': [250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

### 092 딕셔너리 인덱싱

In [143]:
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][0],"원",inventory['메로나'][1],"재고")

300 원 20 재고

### 093 딕셔너리 인덱싱

In [146]:
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][1],"개")

20 개

### 094 딕셔너리 추가

In [148]:
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

### 095 딕셔너리 keys() 메서드

In [149]:
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
ice

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

### 096 딕셔너리 values() 메서드

In [152]:
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.


icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.values())
ice

[1200, 1200, 1800, 1500, 1000]

### 097  딕셔너리 values() 메서드

In [46]:
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = sum(icecream.values())
ice

['Hello', 'world']

### 098 딕셔너리 update 메서드

In [154]:
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)

icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

### 099 zip과 dict

In [157]:
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

### 100 zip과 dict

In [159]:
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table= dict(zip(date,close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}

In [50]:
data = "     039490     "
data.lstrip()

'039490     '

In [51]:
data = "     039490     "
data.strip()

'039490'