# 201 ~ 210

### 201

In [2]:
# "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coin():
    print ('비트코인')

print_coin()

비트코인

### 202

In [3]:
# 201번에서 정의한 함수를 호출하라.

print_coin()

비트코인

### 203

In [8]:
# 201번에서 정의한 print_coin 함수를 100번호출하라.

for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

### 204

In [13]:
# "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.


def print_coins():
    for i in range(100):
        print_coin()
        
print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

### 205

In [14]:
# 아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")

# 함수를 만들기 전 동일한 문자로 호출하여서

NameError: name 'hello' is not defined

### 206

In [15]:
#다음 함수 결과 예측하라

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

### 207

In [16]:
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

### 208

In [17]:
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

### 209

In [18]:
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

### 210

In [19]:
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

# 211 ~ 220

### 211

In [20]:
# 함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

### 212

In [21]:
# 함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

### 213

In [22]:
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)

In [23]:
함수() #문자열을 넣지 않아서

TypeError: 함수() missing 1 required positional argument: '문자열'

### 214

In [25]:
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)   # 문자열 덧셈 불가

TypeError: can only concatenate str (not "int") to str

### 215

In [36]:
# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile (string):
    print(string+":D")
    
print_with_smile("a")

a:D

### 216

In [37]:
# 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.


print_with_smile("안녕하세요")

안녕하세요:D

### 217

In [49]:
# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

def print_upper_price():
    price = input("현재가격을 입력하세요: ")
    print("상한가 가격: ", int(price)*1.3)
    
print_upper_price()

현재가격을 입력하세요: 3000
상한가 가격:  3900.0

### 218

In [53]:
# 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

def print_sum():
    a = input("첫 번째 숫자를 입력하세요: ")
    b = input("두 번째 숫자를 입력하세요: ")
    print(int(a)+int(b))

print_sum()

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 4
7

In [56]:
def print_sum(a,b):
    print(a+b)

print_sum(3,4)

7

### 219

In [55]:
# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

def print_arithmetic_operation():
    a = input("첫 번째 숫자를 입력하세요: ")
    b = input("두 번째 숫자를 입력하세요: ")
    print(a,"+",b,"=",int(a)+int(b))
    print(a,"-",b,"=",int(a)-int(b))
    print(a,"*",b,"=",int(a)*int(b))
    print(a,"/",b,"=",int(a)/int(b))

print_arithmetic_operation()

첫 번째 숫자를 입력하세요: 7
두 번째 숫자를 입력하세요: 8
7 + 8 = 15
7 - 8 = -1
7 * 8 = 56
7 / 8 = 0.875

In [58]:
def print_sum(a,b):
    print(a,"+",b,"=",a+b)
    print(a,"-",b,"=",a-b)
    print(a,"*",b,"=",a*b)
    print(a,"/",b,"=",a/b)

print_sum(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

### 220

In [63]:
# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

def print_max(a,b,c):
    max=0
    if a > max :
        max=a
    if b > max :
        max=b
    if c > max :
        max=c
    print(max)

print_max(3,4,5)

5

## 221~230

### 221

In [71]:
# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

def print_reverse(a):
    print(a[::-1])
    
print_reverse("python")

nohtyp

### 222

In [76]:
# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

def print_score(a):
    print(sum(a) / len(a))

print_score ([1, 2, 3])

2.0

### 223

In [82]:
#하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

def print_even(a):
    for b in a :
        if b % 2 == 0:
            print(b)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

### 224 문자열 인덱싱

In [96]:
#하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.


def print_keys(a):
    for b in a.keys() :
        print(b)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

### 225

In [98]:
# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

def print_value_by_key(a,b):
    print(a[b])
    
print_value_by_key(my_dict, "10/27")

[10, 12, 10, 11]

### 226

In [99]:
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

def print_5xn(a):
    print(a[:5])
    print(a[5:])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

### 227

In [105]:
# 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

def print_5xn(a,b):
    c = int(len(a) / b)
    for d in range(c+1):
        print(a[d*b:d*b+b])

print_5xn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

### 228

In [112]:
# 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
# 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

def calc_monthly_salary(a):
    g= a/12
    print(int(g))
    
calc_monthly_salary(36000000)

3000000

### 229

In [113]:
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

### 230

In [115]:
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

## 031~040

### 031 문자열 합치기

In [1]:
a = "3"
b = "4"
print(a + b)

# 문자열을 덧셈하면 숫자로 덧셈하는것과 달리 문자열을 연결해서 붙인 새 문자열 생성해서 출력함

34

### 032 문자열 곱하기

In [2]:
# 아래 코드의 실행 결과를 예상해보세요.
print("Hi" * 3)

HiHiHi

### 033 문자열 곱하기

In [3]:
# 화면에 '-'를 80개 출력하세요
print('-'*80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기

In [7]:
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
t1 = 'python'
t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
# python java python java python java python java

print((t1+' '+t2+' ')*4)

python java python java python java python java

### 035 문자열 출력

In [10]:
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13


# `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 036 문자열 출력

In [11]:
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력

In [12]:
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기

In [19]:
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
콤마제거= 상장주식수.replace(",","")    #문자열의 replace 메서드로 컴마를 제거
타입변환=int(콤마제거)                  #정수형으로 타입을 변환하려면 int( ) 함수를 사용
타입변환, type(타입변환)

(5969782550, int)

### 039 문자열 슬라이싱

In [24]:
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

### 040 strip 메서드

In [25]:
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
data = "   삼성전자    "
data1 = data.strip()       # 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거
print(data1)

삼성전자

## 041~050

### 041 upper 메서드

In [26]:
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
ticker1 = ticker.upper()
ticker1

'BTC_KRW'

### 042 lower 메서드

In [28]:
ticker2 = ticker1.lower()
ticker, ticker1, ticker2

('btc_krw', 'BTC_KRW', 'btc_krw')

### 043 capitalize 메서드

In [32]:
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
a1 = a.capitalize()
a, a1

('hello', 'Hello')

### 044 endswith 메서드

In [33]:
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

### 045 endswith 메서드

In [39]:
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xls"
file_name.endswith(("xlsx", "xls"))

True

### 046 startswith 메서드

In [40]:
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

### 047 split 메서드

In [46]:
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a="Hello world"
a.split()

['Hello', 'world']

### 048 split 메서드

In [47]:
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

### 049 split 메서드

In [48]:
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

### 050 rstrip 메서드

In [52]:
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "     039490     "
data.rstrip()

'     039490'

In [50]:
data = "     039490     "
data.lstrip()

'039490     '

In [51]:
data = "     039490     "
data.strip()

'039490'