# 연습 문제

````
다음 데이터프레임에서 지정하는 데이터를 뽑아내거나 처리하라.

```
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
```

(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.

(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

(5) 춘향의 점수를 데이터프레임으로 나타낸다.

(6) 향단의 점수를 시리즈로 나타낸다.

````

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [4]:
# (1) 모든 학생의 수학 점수를 시리즈로 나타낸다.

df["수학"]

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [6]:
# (2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.

df[["국어","영어"]]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [14]:
# (3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df["과목별 평균"] = df.mean(axis=1).round(2)
df

    국어  영어  수학  과목별 평균
춘향  80  90  90   87.34
몽룡  90  70  60   74.10
향단  70  60  80   70.78
방자  30  40  70   47.54

In [36]:
# (4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.

df["영어"][-1:] = 80
df["과목별 평균"] = df.mean(axis=1).round(2)
df

C:\Users\potte\AppData\Local\Temp\ipykernel_24332\3696224520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["영어"][-1:] = 80

    국어  영어  수학  과목별 평균
춘향  80  90  90   86.84
몽룡  90  70  60   73.53
향단  70  60  80   70.19
방자  30  80  70   56.88

In [39]:
# (5) 춘향의 점수를 데이터프레임으로 나타낸다.
df[0:1]

    국어  영어  수학  과목별 평균
춘향  80  90  90   86.84

In [42]:
# (6) 향단의 점수를 시리즈로 나타낸다.
df.T["향단"]

국어        70.00
영어        60.00
수학        80.00
과목별 평균    70.19
Name: 향단, dtype: float64